body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: black;
  overflow: hidden;
  color: white;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #200000, #000);
  z-index: -1;
}

/* CENTER LAYOUT */
.vault-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

/* VAULT DOOR */
.vault-door {
  position: relative;
  width: 260px;
  height: 260px;
  margin-bottom: 30px;
}

/* LEFT + RIGHT DOORS */
.left-door, .right-door {
  position: absolute;
  width: 50%;
  height: 100%;
  background: linear-gradient(145deg, #111, #000);
  border: 3px solid red;
  box-shadow: 0 0 25px red inset, 0 0 20px red;
  transition: transform 2s ease;
}

/* split in half */
.left-door {
  left: 0;
  border-right: 1px solid red;
}

.right-door {
  right: 0;
  border-left: 1px solid red;
}

/* OPEN STATE */
.open .left-door {
  transform: translateX(-120%) rotateY(-40deg);
}

.open .right-door {
  transform: translateX(120%) rotateY(40deg);
}

/* CONTENT */
.content {
  text-align: center;
}

h1 {
  color: red;
  text-shadow: 0 0 20px red;
  letter-spacing: 3px;
}

p {
  color: #aaa;
}

button {
  margin-top: 15px;
  padding: 12px 25px;
  background: red;
  border: none;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 15px red;
  font-weight: bold;
}

button:hover {
  background: darkred;
}

#status {
  margin-top: 15px;
  color: white;
}
