body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: black;
  overflow: hidden;
  color: white;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #2a0000, #000);
  z-index: -1;
}

/* CENTER */
.vault-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* DOOR */
.vault-door {
  width: 260px;
  height: 260px;
  position: relative;
  margin-bottom: 25px;
}

.left-door, .right-door {
  position: absolute;
  width: 50%;
  height: 100%;
  background: linear-gradient(145deg, #111, #000);
  border: 2px solid red;
  box-shadow: 0 0 20px red inset, 0 0 15px red;
  transition: transform 1.8s ease;
}

/* CLOSED POSITION */
.left-door { left: 0; }
.right-door { right: 0; }

/* OPEN STATE */
.vault-door.open .left-door {
  transform: translateX(-120%) rotateY(-45deg);
}

.vault-door.open .right-door {
  transform: translateX(120%) rotateY(45deg);
}

/* TEXT */
h1 {
  color: red;
  text-shadow: 0 0 20px red;
  letter-spacing: 3px;
}

.sub {
  color: #aaa;
}

.instructions {
  color: #ddd;
  font-size: 14px;
  margin: 10px 0 20px;
  line-height: 1.4;
}

button {
  padding: 12px 24px;
  background: red;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 15px red;
}

button:hover {
  background: darkred;
}

#status {
  margin-top: 15px;
  color: white;
}
